*{
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
}
.algo{
    min-height:100%;	
    width: 400px;
    margin-left : auto;
    margin-right: auto;
    height: auto;
    min-height:100%;
    padding: 0 0 49px;

}
.formul{
    min-height:100%;	
    width: 600px;
    margin-left : auto;
    margin-right: auto;
    height: auto;
    min-height:100%;
    padding: 0 0 49px;

}
.formul h2{
    width:100%; height:30px; color:#046598; font:28px/28px Georgia, "Times New Roman", Times, serif;text-align: center
}


.contacto{
    /*border: 1px solid #CED5D7;*/
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block; 
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea,.contacto input[type='password']{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='text']:focus, .contacto textarea:focus, .contacto input[type='password']{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto select{
    padding: 7px 6px;
    width: 300px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto select:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}


.contacto input[type='button'],.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;

    background: #e4f1f6; 
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
}
.contacto input[type='button']:hover,.contacto input[type='submit']:hover{
    background: #edfcff; 
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.contacto input[type='button']:active,.contacto input[type='submit']:active{
    background: #cfe6ef; 
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.LabelError
{
    color: #FF0000; 
    text-align: center;
}
.error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}